.contact {
   font-size: 35px;
   position: absolute;
   top: 10%;
   margin-left: 5rem;
}
form {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
}
label {
   font-size: 20px;
   margin-left: 5px;
   margin-bottom: 5px;
   color: white;
}

.input-name, .input-comment {
   width: 500px;
   font-size: 15px;
   border: 1px solid grey;
   border-radius: 10px;
   padding: 10px;
   outline: none;
}
.input-comment {
   height: 120px;
}
.submit {
   border: 1px solid grey;
   width: 65px;
   border-radius: 5px;
   margin-left: 455px;
   font-weight: bold;
   font-size: 15px;
   padding: 7px;
   background: black;
   color: white;
}
.submit:hover {
   color: #f1f1f1;
   -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
   -moz-animation: neon2 1.5s ease-in-out infinite alternate;
   animation: neon2 1.5s ease-in-out infinite alternate;
   transition: 0.3s;
 }
@-webkit-keyframes neon2 {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #74F9D9, 0 0 70px #74F9D9, 0 0 80px #74F9D9, 0 0 100px #74F9D9, 0 0 150px #74F9D9;
   }
   to {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #74F9D9, 0 0 35px #74F9D9, 0 0 40px #74F9D9, 0 0 50px #74F9D9, 0 0 75px #74F9D9;
   }
 }
 
 @-moz-keyframes neon2 {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #74F9D9, 0 0 70px #74F9D9, 0 0 80px #74F9D9, 0 0 100px #74F9D9, 0 0 150px #74F9D9;
   }
   to {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #74F9D9, 0 0 35px #74F9D9, 0 0 40px #74F9D9, 0 0 50px #74F9D9, 0 0 75px #74F9D9;
   }
 }
 
 @keyframes neon2 {
   from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #74F9D9, 0 0 70px #74F9D9, 0 0 80px #74F9D9, 0 0 100px #74F9D9, 0 0 150px #74F9D9;
   }
   to {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #74F9D9, 0 0 35px #74F9D9, 0 0 40px #74F9D9, 0 0 50px #74F9D9, 0 0 75px #74F9D9;
   }
 }
 
 
 