.contact {
   font-size: 35px;
   position: absolute;
   margin-left: 5rem;
   top: 20%;
   padding: 25px;
   background: url('border.png') no-repeat;
   background-size: 715px 560px;
   font-family: Orbitron;
}
form {
   display: flex;
   flex-direction: column;
   padding: 30px;
   background: linear-gradient(#29354286, rgba(54, 88, 124, 0.155), transparent, transparent, transparent, transparent, transparent); 
}
label {
   font-size: 20px;
   margin-left: 5px;
   margin-bottom: 5px;
   color: #414655;

}
.contact-header {
  background: linear-gradient(#293542, #36587C, #293542);
  height: 80px;
  padding: 40px 20px 10px 20px;
  margin: 0;
  width: 625px;
}
.input-name, .input-comment {
   width: 550px;
   font-size: 15px;
   border: 1px solid grey;
   border-radius: 10px;
   padding: 10px;
   outline: none;
}
.input-comment {
   height: 120px;
}
.submit {
   border: none;
   width: 78px;
   margin-left: 490px;
   font-weight: bold;
   font-size: 20px;
   padding: 10px;
   color: #414655;
   font-family: Orbitron;
}

.submit:hover {
  background: url('blueborder.png') no-repeat;
  background-size: 75px 35px;
}
