.portfolio {
  margin-left: 5rem;
  position: absolute;
  top: 10%;
  font-size: 35px;
  font-weight: bold;
}
section {
  margin: 0 auto;
  text-align: center;
}
.proj-description {
  width: 400px;
}
.gif {
  width: 500px;
  padding: 3px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 630px) {
  .portfolio {
    margin: 0 auto;
  }
}