.portfolio {
  margin-left: 5rem;
  position: absolute;
  top: 10%;
  font-size: 35px;
  font-weight: bold;
  padding: 25px;
  background: url('border.png') no-repeat;
  background-size: 1105px 740px;
  height: 700px;
}
.project-header {
    font-size: 80px;
    color: white;
    background: linear-gradient(#293542, #36587C, #293542);
    height: 80px;
    padding: 40px 20px 10px 20px;
    margin: 0;
    width: 1015px;
    font-family: Orbitron;
}

section {
  margin: 0 auto;
  text-align: center;
}
.proj-description {
  width: 400px;
}
.gif {
  width: 500px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  background: linear-gradient(#29354286, rgba(54, 88, 124, 0.155), transparent, transparent, transparent, transparent, transparent); 
  padding-left: 25px;
  padding-right: 15px;
  width: 1015px;
}
