.home-text {
   margin-left: 5rem;
   font-size: 75px;
   font-weight: bold;
   color: #414655;
   position: absolute;
   top: 20%;
   font-family: Orbitron;
   padding: 25px;
   background: url('border.png') no-repeat;
   background-size: 625px 280px;
}

.hello {
   font-size: 80px;
   color: white;
   background: linear-gradient(#293542, #36587C, #293542);
   height: 80px;
   padding: 40px 20px 10px 20px;
   margin: 0;
}

.name {
   font-size: 45px;
   margin-top: 0;
   padding: 40px 0 30px 20px;
   text-shadow: 5px 2px rgba(54, 88, 124, 0.155);
   background: linear-gradient(#29354286, rgba(54, 88, 124, 0.155), transparent, transparent); 
}
/* .arrow-right {
   height: 0;
   width: 0;
   border-top: 10px solid transparent;
   border-bottom: 10px solid transparent;
   border-left: 10px solid #414655;
 } */

 .fsd::before {
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #414655;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    padding-left: 10px;
 }
.fsd {
   font-size: 30px;
   margin-bottom: 0;
}

@media screen 
  and (max-device-height: 750px) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 
  .home-text {
    margin-left: 0;
    background-size: 397px 260px;
  }
  .hello {
    font-size: 65px;
  }
  .name {
    font-size: 30px;
    padding: 35px 0 30px 20px;
  }
  .fsd {
    font-size: 25px;
  }
}