#root {
  padding-left: 5rem;
  color: white;
}
.parts {
  overflow: auto; 
  position: absolute;
  z-index: -1;
  top: 20;
  width: 100%;
  height: 90%;
}

@media screen and (max-height: 750px) { 
  #root {
    padding-left: 17px;
  }
}