#root {
  padding-left: 5rem;
  color: white;
}
.parts {
  overflow: auto; 
  position: absolute;
  z-index: -1;
  top: 20;
  width: 100%;
  height: 90%;
}

@media screen 
  /* and (min-device-height: 700px)  */
  and (max-device-height: 750px) 
  and (-webkit-min-device-pixel-ratio: 1) 
{ 
  #root {
    padding-left: 17px;
  }
}