.about {
  margin-left: 5rem;
  font-size: 35px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: 20%;
}
h3 {
  font-size: 20px;
}
.page-h1 {
  color: #74F9D9;
  text-shadow: -3px 3px #E73557;
}
.about-sections {
  font-weight: lighter;
  text-align: left;
  width: 60%;
}

.about-i {
  font-weight: bold;
  font-size: 25px;
  color: #74F9D9;
}
p {
  font-weight: lighter;
  font-size: 18px;
}