.about {
  margin: 100px 100px;
}
h3 {
  font-size: 25px;
}
section {
  display: flex;
}
.about-sections {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  padding: 20px 30px;
  width: 350px;
}

p {
  font-size: 18px;
}
img {
  width: 100px;
}
.icon {
  margin: 0 auto;
}



@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon:hover {
  animation: icon-spin 2 400ms linear;
}

@media screen and (max-width: 1100px) {
  .about {
    margin: 45px 90px;
  }
  h1 {
    margin-bottom: 30px;
    font-size: 35px;
  }
  img {
    width: 85px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 840px) {
  .about {
    margin: 35px 20px;
  }
  h1 {
    font-size: 35px;
  }
  img {
    width: 60px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
  .about-sections {
    padding: 0 20px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    margin: 35px 20px;
  }
  h1 {
    font-size: 35px;
  }
  img {
    width: 80px;
  }
  .about-sections {
    margin-bottom: 50px;
  }
  section {
    display: block;
  }
}

@media screen and (max-width: 415px) {
  h1 {
    font-size: 30px;
  }
}
