/* Overlay from https://codepen.io/ArnaudBalland/pen/vGZKLr */

.proj-name {
  margin-top: 35px;
  margin-bottom: 5px;
}

.content {
   position: relative;
   margin: 0 auto;
   padding: 5px;
}
 
.content .content-overlay {
   background: rgba(0,0,0,0.8);
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out 0s;
   -moz-transition: all 0.4s ease-in-out 0s;
   transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
   opacity: 1;
}

.content-details {
   position: absolute;
   text-align: center;
   width: 100%;
   top: 45%;
   left: 50%;
   opacity: 0;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: all 0.3s ease-in-out 0s;
   -moz-transition: all 0.3s ease-in-out 0s;
   transition: all 0.3s ease-in-out 0s;
}
 
.content:hover .content-details{
   top: 45%;
   left: 50%;
   opacity: 1;
}

a, a h3 {
   text-decoration: none;
   color: black;
}
.p {
   margin: 0 auto;
 }
.content-text {
   color: rgb(247, 217, 227);
   margin: 30px;
}

.fab, .fas {
  font-size: 40px;
}

.fab:hover, .fas:hover {
  color: #9C3F5F;
  animation: fa-pulse 1800ms infinite;
}

@keyframes fa-pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.fadeIn {
  top: 30%;
}


@media screen and (max-width: 650px) {
  section.project-container {
    margin-top: -15px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 450px) {
  img.gif.content-image {
    width: 300px;
  }
  section.project-container {
    margin-bottom: 30px;
  }
  .fab, .fas {
    font-size: 30px;
  }
  .content-text {
    font-size: 12px;
    margin: 10px;
 }
}
