.proj-name {
  margin-top: 35px;
  margin-bottom: 5px;
}

.content {
   position: relative;
}
 .white {
   background: white;
   width: 90%;
   height: 248px;
   position: absolute;
   left: 23px;
   top: -123px;
   bottom: 0;
   right: 0;
   z-index: -1;
 }

.content .content-overlay {
   background: white;
   position: absolute;
   left: 10px;
   top: 10px;
   bottom: 0;
   right: 0;
   width: 50%;
   opacity: 0;
   transform-origin: top left;
   -ms-transform: skewX(20deg);
   -webkit-transform: skewX(20deg);
   transform: skewX(20deg);
}
.content-overlay {
  height: 248px;
}

.content-overlay:after {
  content: " ";
  position: absolute;
  display: block;
  width: 80%;
  height: 100%;
  top: 0;
  left: 100px;
  background: rgba(255, 255, 255, 0.4);
}
.content:hover .content-overlay {
   opacity: 1;
}
.content:hover .content-details{
  top: 50%;
  left: 25%;
 opacity: 1;
}
.content-details {
   position: absolute;
   width: 55%;
   top: 50%;
   left: 25%;
   font-weight: lighter;
   opacity: 0;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}
 
.content:hover {
  position: absolute;
  background: green;
  z-index: 3;
  padding: 10px 10px 0 10px;
}
.content:hover {
  background: url('blueborder.png') no-repeat;
  background-size: 520px 265px;
  position: absolute;
  z-index: 4;
}

a, a h3 {
   text-decoration: none;
   color: black;
}

.content-text {
   margin: 20px;
   text-align: left;
}
.p {
  height: 249px;
  width: 500px;
}
