.footer {
  font-family: 'Orbitron';
  width: 100%;
  /* padding: 1rem; */
  /* padding: 20px; */
  background-color: rgb(17, 16, 20);
  text-align: center;
}
nav.footer {
  padding-top: 20px;
}
.footer a {
  text-decoration: none;
  color: rgb(247, 217, 227);
  padding: 10px;
}
.cMe {
  color: rgb(247, 217, 227);
}

@media screen and (max-width: 1100px) {
  nav.footer { 
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 415px) {
  nav.footer { 
    padding: 10px 0;
  }
  .footer a {
    font-size: 15px;
  }
  .cMe {
    font-size: 12px;
  }
}